<html>
    <head>
        <title>Reckart Game 2020</title>
        <script src="/js/location-<%= place %>.js" type="text/js"></script>
        <script>
            var myId = "<%= player %>";
            var place = "<%= place %>";
            console.log(myId, " - ", place);
        </script>
    </head>
    <body>
        Blank generic game page
    </body>
</html>
