<html>
    <head>
        <title>Reckart Game 2020</title>
        <script>
            function createUUID(){
                var dt = new Date().getTime();
                var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                    var r = (dt + Math.random()*16)%16 | 0;
                    dt = Math.floor(dt/16);
                    return (c=='x' ? r :(r&0x3|0x8)).toString(16);
                });
                return uuid;
            }
            function goTo(str) {
                window.location.replace("/<%= player %>/"+ str + "?uuid=" + createUUID());
            }
        </script>
    </head>
    <body>
        <ol>
            <li><a href="#" onclick="goTo('home')">Reckart House</a></li>
            <li><a href="#" onclick="goTo('theland')">The Land</a></li>
            <li><a href="#" onclick="goTo('trb')">TRB</a></li>
            <li><a href="#" onclick="goTo('downtown')">Downtown Tucson</a></li>
            <li><a href="#" onclick="goTo('eegees')">Eegees</a></li>
        </ol
    </body>
</html>
